<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Sobre Nosotros</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Agregar imagen -->
  <div class="image-container">
    <ion-img src="https://img.freepik.com/vector-premium/sobre-nosotros-ilustracion-concepto-menu-sitio-web-corporativo_241107-1089.jpg" alt="Logo RegistrApp"></ion-img>
  </div>

  <!-- Texto sobre la aplicación -->
  <p>
    Somos RegistrApp, una plataforma diseñada para mejorar el control de asistencia en las instituciones educativas.
    Nuestra misión es hacer que el proceso de registro de asistencia sea más eficiente y menos propenso a errores,
    utilizando tecnología avanzada como códigos QR y autenticación en tiempo real.
  </p>
</ion-content>
