.scanner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.scanner-frame {
  border: 3px solid #3880ff;
  width: 250px;
  height: 250px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.scanner-line {
  position: absolute;
  width: 80%;
  height: 3px;
  background-color: red;
  animation: scan 1s infinite;
}

@keyframes scan {
  0% {
    top: 0%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 100%;
  }
}
